:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height:100vh;
    display: grid;
    grid-template-columns: 40% 55%;
}

.container_botao{
    background-color: var(--botao-azul);
    border-radius: 15px;
    padding: 1em;
    color:var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
 
.botao2{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container_aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;
}

.container_imagem{
    margin: 1em 0 2em  0;
}

.container_caixa{
    margin: 0 6em;
}

.secundario__botao{
    display: inline-block;
}

.container_descrição{
    padding: 2em;
}

.container_titulo2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 5em;
}

.botao3{
    background-color: var(--botao-azul);
    border-radius: 15px;
    padding: 1em;
    color:var(--branco-principal);
    display: block;
    margin-right: 25em;
    text-decoration: none;
    margin-bottom: 1em;   
    text-align: center; 
}

.descrição_texto{
    size:30px;
}

.secundario{   
    display: grid;
    grid-template-columns: 45% 50%;
    margin-left: 100px;
    

 }

.secundario_imagem{
    margin-left: 110px;
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos_titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista_item {
    font-size: 32px;
    color: var(--branco-principal);
}

.container_descrição2{
    padding-top:7em ;
}

.rodape_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista_link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape_texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.lista_link a:hover {
    color: var(--botao-azul);
}

.lista_link a:active {
    color: purple;
}

.container_botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.rodape_textoD {
    margin: 10em 0 0 88em;
    color: var(--cinza-secundario);
    font-size: 14px;
}